.login-container {
    background: #f4f6fb;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 400px;
    padding: 35px;
    border-radius: 15px;
}

.login-title {
    text-align: center;
    color: #1976d2;
    font-weight: bold !important;
}

.login-subtitle {
    text-align: center;
    color: gray;
    margin-bottom: 25px !important;
}

.login-button {
    margin-top: 20px !important;
    padding: 12px !important;
}

.register-text {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

.register-link {
    margin-left: 6px;
    color: #1976d2;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}